.dragon {
	content:url(../res/img/dragon1.gif);
	width: 80px;
	text-align: center;
}
.rocher {
	content:url(../res/img/roc1.gif);
	width: 30px;
}
.potager {
	content:url(../res/img/herbe.gif);
	width: 30px;
}
.paysan {
	content:url(../res/img/avec-fourche.gif);
	width: 30px;
}
